/* GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.button-contact button{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(203, 41, 224);
    border: 0;
    border-radius: 35px;
    cursor: pointer;
    transition: .2s;
}

h2.title{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.title span{
    color: #9d29c0;
}

button:hover{
    box-shadow: 0px 0px 8px #db66ff;
    transform: scale(1.05);
}

/* HEADING STYLE */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 30px;
}


/* TOP OF SITE STYLE */
section.top-of-site{
    padding: 40px 4%;
}

section.top-of-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-of-site h1{
    color: #ffff;
    font-size: 44px;
    line-height: 41px;
}

.top-of-site .text-top-of-site h1 span{
    color: #9d29c0;
}

.top-of-site .text-top-of-site p{
    color: #ffff;
    margin: 40px 0;
}

.top-of-site .image-top-of-site img{
    position: relative;
    animation: toFloat 3.9s ease-in-out infinite alternate;
}

/* ANIMATION OF IMAGE TOP OF SITE */
@keyframes toFloat{
    0%{ 
        top: 0;
    }
    100%{ 
        top: 50px;
    }
}

/* SPECIALTY STYLE */
section.specialties{
    padding: 40px 4%;
}

section.specialties .flex{
    gap: 60px;
}

.specialties .specialties-box{
    color: #ffff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 22px;
    transition: 1;
}

.specialties .specialties-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #9d29c086;
}

.specialties .specialties-box i{
    font-size: 75px;
    color: #9d29c0;
}

.specialties .specialties-box h3{
    font-size: 30px;
    margin: 15px 0;
}

/* ABOUT STYLE */
section.about{
    padding: 40px 4%;
}

.text-about{
    color: #ffff;
}

.flex{
    align-items: center;
    gap: 60px;
}

.text-about h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.text-about h2 span{
    color: #9d29c0;
    display: block;
}

.text-about p{
    margin: 20px 0;
    text-align: justify;
}

.button-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
    background-color: #9d29c0;
}
